a,
a:focus,
a:hover {
    color: black!important;
}

html,
body {
    margin: 0;

}

#panel {
    min-height: 100%;
    margin-bottom: -50px;
}

a,
h1,h2,h3 {
    color: beige !important
}

article {
    background-color: rgba(2, 39, 39, 0.801);
    color: beige;
    padding: 20px;
    margin: 20px!important;
}

#brand {
    height: 270px;
    margin-top: -290px !important;
    
}
#main{
    justify-content: inherit;
}
#results {
    width: 62%;
    overflow: auto;
}
#searchform{
    justify-content: center;
}
@media only screen and (max-width: 870px) {
    #brand {
        margin-top: 20px !important;

    }
    article {
        width: 100% !important;
        justify-content: center !important;
        margin-left: 10px!important;
    }
    #searchform {
        min-height: fit-content;
    }
    .uk-navbar-nav{
        display: inline!important;
    }
}
@media only screen and (max-width: 1612px) {
    #results{
        width:60%;
    }
}
@media only screen and (max-width: 1152px) {
    #results{
        width:58%;
    }
}