a,
a:focus,
a:hover {
    color: black!important;
}

html,
body {
    margin: 0;

}

#panel {
    min-height: 100%;
    flex: 1;

}
footer {
    margin: auto;
    color: beige!important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
a,
h1,h2,h3 {
    color: beige !important
}

article {
    background-color: rgba(2, 39, 39, 0.801);
    color: beige;
    padding: 20px;
    margin: 20px!important;
}

#brand {
    height: 470px;
    margin-top: -490px !important;
    overflow: scroll;
    
}
#main{
    justify-content: inherit;
}
#results {
    width: 62%;
    overflow: scroll;
}
#searchform{
    height: 310px!important;
    overflow: auto ;
    justify-content: center;
}
@media only screen and (max-width: 870px) {
    #brand {
        margin-top: 20px !important;
        overflow: scroll;

    }
    article {
        width: 100% !important;
        justify-content: center !important;
        margin-left: 10px!important;
    }
    #searchform {
        min-height: fit-content;
    }
    .uk-navbar-nav{
        display: inline!important;
    }
}
@media only screen and (max-width: 1612px) {
    #results{
        width:60%;
    }
}
@media only screen and (max-width: 1152px) {
    #results{
        width:58%;
    }
}